body{
    font-family: Arial;
    margin: 0;
    background: #f4f8ff;
}

nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 25px 40px;
    background: white;
    border-bottom: 1px solid #d6e8f5;

}

nav a{
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    background: white
    border-bottom:1px
}